<h1> My tasks </h1>


  <% @tasks.each do |task| %>
    <p> <%= link_to task.title , task_path(task) %></p>
    <p>
    <%= link_to "Delete", task_path(task),
    method: :delete,
    data: { confirm: "are you sure?" } %></p>
  <% end %>

<p><%= link_to "Add Task" ,new_task_path%></p>



